h3 {
  color: #4ff446;
  text-align: center;
}

h5 {
  text-align: center;
}

#formOne {
  display: block;
  text-align: center;
  margin-top: 75px;
}

#formOne p {
  margin: 15px;
}

#submit {
  display: block;
  margin: auto;
  margin-top: 20px;
}

#ruby {
  display: none;
}

#css {
  display: none;
}

#c {
  display: none;
}

#all {
  display: none;
}
